@import url(./__list/header__list.css);
@import url(./__item/header__item.css);
@import url(./__button/header__button.css);

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 116px;
    margin: 0;
    padding: 0 34px;
    font-size: 18px;
    line-height: 22px;
}