@import url(./__image/feedback__image.css);
@import url(./__container/feedback__container.css);
@import url(./__autor/feedback__autor.css);
@import url(./__title/feedback__title.css);
@import url(./__link/feedback__link.css);

.feedback {
    display: flex;
    background-color: black;
    color: white;
    margin: 71px 0 40px;
}