.card__background {
    margin: 0;
    padding: 0;
    width: 270px;
    height: 270px;
}

.card:nth-child(1) .card__background {
    background-image: url(../../../images/card_1.png);
}

.card:nth-child(2) .card__background {
    background-image: url(../../../images/card_2.png);
}

.card:nth-child(3) .card__background {
    background-image: url(../../../images/card_3.png);
}

.card:nth-child(4) .card__background {
    background-image: url(../../../images/card_4.png);
}

.card:hover .card__background {
    opacity: 0.9;
}