.button {
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    transition: opacity 0.2s ease-out;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: none;
}

.button:hover {
    opacity: 0.5;
}